body {
  background-color: purple;
  color: yellow;
}

h1 {
  text-align: center;
}

h2 {
  font-style: italic;
  text-align: center;
}

p {
  text-align: center;
}

a {
  color : green;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr, td, th {
  border-width: 2px;
  border-color: black;
  border-style: solid;
}
