body {
  display: flex;
  flex-direction: row;
}

html {
  font-family: "Roboto";
  font-size: 1em;
  width : 100vw;
  height : 100vh;
  margin : 0;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: flex;
  justify-content: flex-end;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

table {
}

table tr {
}

table tr th {
}

table tr td {
}

table tr th:first-child,
table tr td:first-child {
}

table tr th:last-child,
table tr td:last-child {
}

a {
}

ul {
}
