.md-grid {
 max-width: initial;
}

.md-footer-copyright img{
 vertical-align : middle;
}

.md-footer__inner {
 display : none;
}

.tabbed-content {
 padding-left : .75rem;
 padding-right : .75rem;
 border : .1rem solid rgb(82, 108, 254);
}

.md-typeset .admonition {
 font-size : .8rem;
}

.md-main__inner {
 margin-top : 0;
}

.md-typeset__table {
 width : 100%;
}

.md-typeset table:not([class]) {
 margin-left : auto;
 margin-right : auto;
 display : table;
 width : auto;
}

iframe {
  border : 0;
}

.md-typeset .tabbed-set>input:checked+label {
  border-bottom-width : .25em;
}
