body {
    font-family: Arial, 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, 'sans-serif';
    font-size: 14px;
}

main {
    background-color: #404040;
    width: 75%;
    padding: 30px 20px;
    margin: auto;
}
h1 {
    text-align: center;
    color: #ccc;
    text-shadow: 2px 2px 4px black;
}
h2 {

}
a{
    display: block;
    color: #069;
    text-decoration: none;
    padding:10px;
}

a:hover {
    color: #ccc;
}

a.menu-item {
  color: #ccc;
}

a.menu-item:hover {
    color: #069;
    background-color: white;
}

img.license {
  height: 30px;
  vertical-align: middle;
}

footer {
  height: 40px;
  padding-top: 10px;
  background-color: #eee;
  text-align: center;
}

.rubrique {
  display: flex;
  align-items: center;
  justify-content: center;
}

.rubrique div {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid black;
}
