@charset "utf-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css?family=Lato|Noto+Sans|Noto+Serif');

body {
    margin: 0;
    font-size:16px;
    font-family: 'Lato','Noto Serif', serif;
}

/* ------------------ PAGE ----------------------*/
main {
    display: flex;
    min-height: 100vh;
}

#page {
    height: 100vh;
    width : 100vw;
    display:flex;
    flex-direction: column;
    align-content: space-between;
}

.content {
  flex: 1 0 auto;
}

/* ------------------ PIED de PAGE ----------------------*/
footer {
    flex: 0 0 40px;
    /*height: 40px;*/
    padding-top: 20px;
    background-color: #eee;
    text-align: center;
}
footer a {
    text-decoration: none;
    color:#069;
}

/* ------------------ CONTENU PRINCIPAL ----------------------*/
section {
    flex-grow: 1;
    padding:0 6% 0 6%;
}

section.icontainer {
    padding:3% 6% 0 6%;
}

section section {
  padding : 0;
}
section h1 {
    font-family: 'Lato','Noto Sans', sans-serif;
    font-size: 280%;
    text-align: center;
    color:#069;
    text-shadow: 2px 2px 3px #333;
}
section h2 {
    text-align: center;
    font-family: 'Lato', 'Noto Sans', sans-serif;
    font-size: 220%;
    margin:20px 0 20px 0;
    color:#069;
    text-shadow: 2px 2px 3px black;
}
section h3 {
    font-size: 180%;
    font-family: 'Lato','Noto Sans', sans-serif;
    margin:24px 0 0 0;
}

section h4 {
    font-size: 110%;
    font-style: italic;
    font-family: 'Lato','Noto Sans', sans-serif;
    margin:12px 0 0 0;
}
section p {
    margin:10px 6px 0px 6px;
    text-align: left;
}
section p.decale {
    padding-left:40px;
    margin-top: 2px;
    margin-bottom: 2px;
}

section pre {
    font-size: 90%;
    border-left:4px solid #666;
    border-radius:6px;
}
section img.block_centre {
    display: block;
    margin-left:auto;
    margin-right: auto;
}
section table {
    border-collapse: collapse;
    margin:12px auto 20px auto;
}
section td {
    text-align: center;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
}

section th {
    text-align: center;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    background-color: #f0f0f0
}

section th.rotate, section th.no-rotate {
    border-right: none;
    border-bottom: solid 1px black;
    background-color: transparent;
}

th.rotate{
  height: 80px;
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  position: relative;
  vertical-align: bottom;
  padding: 0;
  font-size: 12px;
  line-height: 0.8;
}

th.rotate > div{
  position: relative;
  top: 0px;
  left: 40px; /* 80 * tan(45) / 2 = 40 where 80 is the height on the cell and 45 is the transform angle*/
  height: 100%;
  -ms-transform:skew(-45deg,0deg);
  -moz-transform:skew(-45deg,0deg);
  -webkit-transform:skew(-45deg,0deg);
  -o-transform:skew(-45deg,0deg);
  transform:skew(-45deg,0deg);
  overflow: hidden;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}

th.rotate span {
  -ms-transform:skew(45deg,0deg) rotate(315deg);
  -moz-transform:skew(45deg,0deg) rotate(315deg);
  -webkit-transform:skew(45deg,0deg) rotate(315deg);
  -o-transform:skew(45deg,0deg) rotate(315deg);
  transform:skew(45deg,0deg) rotate(315deg);
  position: absolute;
  bottom: 35px; /* 40 cos(45) = 28 with an additional 2px margin*/
  left: -25px; /*Because it looked good, but there is probably a mathematical link here as well*/
  display: inline-block;

  width: 85px; /* 80 / cos(45) - 40 cos (45) = 85 where 80 is the height of the cell, 40 the width of the cell and 45 the transform angle*/
  text-align: left;
  /*white-space: nowrap; /*whether to display in one line or not*/
}

tbody.grid > tr > td {
    font-size: 20px;
    color: #069;
    font-weight: bold;
}

section div.boiteLiens {
    background-color: #9cfe7b;
    padding-bottom: 20px;
    margin: 20px 0;
    border-radius: 10px;
}
section div.boiteLiens::before {
    display: block;
    text-align: center;
    content: "Liens";
    background-color: green;
    color: white;
    font-size: 110%;
    font-weight: bold;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    padding:4px;
    margin-bottom: 20px;
    border-radius: 10px 10px 0 0;
}

section div.boiteConseils {
    background-color: #FFEEDD;
    padding-bottom: 20px;
    margin: 20px 0;
    border-radius: 10px;
}
section div.boiteConseils::before {
    display: block;
    content: "⚠ Conseils";
    background-color: #fa0;
    color: white;
    font-size: 110%;
    font-weight: bold;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    padding:4px;
    margin-bottom: 20px;
    border-radius: 10px 10px 0 0;
}

section div.boiteSynthese {
    background-color: #FFC0CB;
    padding-bottom: 20px;
    margin: 20px 0;
    border-radius: 10px;
}
section div.boiteSynthese::before {
    display: block;
    content: "👍 Synthèse";
    background-color: red;
    color: white;
    font-size: 110%;
    font-weight: bold;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    padding:4px;
    margin-bottom: 20px;
    border-radius: 10px 10px 0 0;
}

section div.boiteHistoire {
    background-color: #cfc;
    padding-bottom: 20px;
    margin: 20px 0;
    border-radius: 10px;
}
section div.boiteHistoire::before {
    display: block;
    text-align: center;
    content: "Repères historiques";
    background-color: #090;
    color: white;
    font-size: 110%;
    font-weight: bold;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    padding:4px;
    margin-bottom: 20px;
    border-radius: 10px 10px 0 0;
}

section div.boiteQuestions, section div.boiteQuestionsReponse {
    background-color: #cde;
    padding-bottom: 0px;
    margin: 20px 0;
    border-radius: 10px;
}

section div.boiteQuestions {
  padding-bottom: 20px;
}

section div.boiteQuestions::before, section div.boiteQuestionsReponse:before {
    display: block;
    text-align: center;
    content: "Questions";
    background-color: #069;
    color: white;
    font-size: 110%;
    font-weight: bold;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    padding:4px;
    margin-bottom: 20px;
    border-radius: 10px 10px 0 0;
}

section div.boiteQuestions div.code-toolbar,  section div.boiteQuestionsReponse div.code-toolbar{
  margin : 0 20px 0 20px;
}

section div.boiteReponses {
    background-color: #cde;
    padding-bottom: 0px;
    margin: 20px 0;
    border-radius: 10px;
}

section div.boiteReponses::before {
    display: block;
    text-align: center;
    content: "Réponse";
    background-color: #069;
    color: white;
    font-size: 110%;
    font-weight: bold;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    padding:4px;
    margin-bottom: 0px;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
}

section div.boiteReponses .reponse {
  display: none;
  align-items: top;
  margin:10px 6px 0px 6px;
}

section div.boiteTravail {
    background-color: #eee;
    padding-bottom: 20px;
    margin: 20px 0;
    border-radius: 10px;
}
section div.boiteTravail::before {
    display: block;
    text-align: center;
    content: "Travail à faire";
    background-color: black;
    color: white;
    font-size: 110%;
    font-weight: bold;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
    padding:4px;
    margin-bottom: 20px;
    border-radius: 10px 10px 0 0;
}

section a {
    text-decoration: none;
    font-weight: bold;
    color:#06c;
}
section a:hover {
   color:#039;
}

.overline {
    text-decoration: overline;
}
sup {
    position: relative;
    font-size:80%;
    top:-0.3em;
    margin:0 0.2em;
}

/* ------------------ MENU ----------------------*/
nav {
    font-family: 'Lato', Arial, 'Gill Sans', 'Gill Sans MT', 'Myriad Pro', 'DejaVu Sans Condensed', Helvetica, 'sans-serif';
    font-size: 90%;
    flex: 0 0 300px;
    background-color: #333;
    color:#ccc;
    padding: 0;
}

#toggle {
    float: right;
    border : 1px solid #ccc;
    padding: 5px;
    background-color: #333;
}

#toggle:hover{
  cursor: pointer;
}

#menu {

}

nav h1 {
    width: 25%;
    font-size:150%;
    color:#ccc;
    text-align: center;
    text-shadow: 2px 2px 4px black;
}

nav h2 {
    width: 100%;
    font-size:150%;
    color:#ccc;
    text-align:left;
    text-shadow: 2px 2px 4px black;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

nav a {
    display: block;
    color:#ccc;
    text-decoration: none;
    padding: 0;
}

nav > div > a {
    color: #ccc;
    font-size:140%;
    padding: 10px 4px;
}

nav > div > section > a {
    color:#ccc;
    padding: 10px 4px 10px 6px;
    margin-left:12px;
    border-radius: 6px 0 0 6px;
}

nav > div > section {
    display:none;
    padding:4px 0 8px 4px;
}

nav a:hover{
    color:#069;
}

a.menu-item:hover, nav .active {
    color: #069;
    background-color: white;
}

.img-container {
  text-align: center;
}

.img-container img{
  width: 33%;
  vertical-align: text-top;
}

.responsive {
  width: 100%;
  height: auto;
}

.highlight {
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.iframe-container {
  overflow: hidden;
  /* Calculated from the aspect ration of the content (in case of 16:9 it is 9/16= 0.5625) */
  padding-top: 56.25%;
  position: relative;
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

.mt-0 {
  margin-top: 0;
}

.sort-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.sort-logger {
  justify-content: space-evenly;
}

.sort-controller {
  margin-top : 0px;
}

.sort-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex : 0 0 50px;
}

.sort-legend {
  flex-direction: column;
  align-items: baseline;
  margin-left : 25%;
}

.sort-content {
  height: 50px;
  border: 1px solid black;
}

.sort-cursor {
  color: #069;
  font-size: 1.5em;
}

.sort-container button {
  width: 100px;
  font-size: 1em;
  cursor: pointer;
}

.sort-label {
  width: 25px;
  height: 25px;
  display: inline-block;
  border-width: medium;
}

.sorted {
  background-color: black;
  color : white;
  border-color: #eee;
}

.compared {
  border-color: blue;
  border-width: medium;
}

.minimum {
  border-color: red;
  border-width: medium;
}

nav.hidden {
  flex-basis: auto;
  display: block;
}

.hidden {
  display: none;
}
