@charset "utf-8";
/* CSS Document */

/* ------------------ PAGE ----------------------*/
main {
    flex-direction: column;
    color:#069;
}

img.license {
  height: 30px;
  vertical-align: middle;
}

.content {
  display: flex;
  background-color: #fff;
  padding: 30px 20px;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width : auto;
  flex-direction: row;
}

.bloc {
  display: flex;
  flex : 0 0 200px;
  height : 200px;
  border: 3px solid #069;
  border-radius: 25px;
  box-shadow: 5px 5px 5px #069;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.bloc:hover {
  box-shadow: 0px 0px 5px  #069;
}

footer {
  color:black;
}

a {
  text-decoration: none;
  font-weight: bold;
  color:#069;
}

h1 {
  text-align: center;
  text-shadow: 2px 2px 4px black;
}

h2 {
  text-shadow: 2px 2px 4px black;
}

.rubrique {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.rubrique div {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid black;
}

.rubrique a {
  color:#069;
}
